{% extends 'include/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Thanks for Registering{% endblock %}

{% block body %}



<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 class="text-center formhead" style="border-bottom: 1px solid gold;">Registration<span style="color: gold;">
                Complete</span></h1>
    </div>
</div>
<div class="row">
    <span class="">Your registration is complete </span>
</div>
<div class="row">
    <div class="col-12 round-div">
        <div style="float: left;" class="col-md-4">
            <span class="round-header">Round 1</span>

            <p>Well oh well, round one will <span class="round-rhyme">tell</span>,<br />
                If you've got the skills to unleash <span class="round-rhyme">hell</span>.<br />
                So all you got to do is go back in time to spit the rhyme, be precise in every<br />
                line, cause you perform the first rap you learnt to kick start the night.<br />
            </p>
        </div>
        <div style="float: left;" class="col-md-4">
            <span class="round-header">Round 2</span>

            <p>First there were twelve, now there will be <span class="round-rhyme">six</span>.<br />
                Let's unshelf the rhythmic book and stir up the <span class="round-rhyme">mix</span>.<br />
                This is the round which demands for the thug gut<br />
                As you have to discuss them, disgust them.<br />
                Diss them. Right down to the last left fuck.<br />
            </p>
        </div>
        <div style="float: right;" class="col-md-4">
            <span class="round-header">Round 3</span>

            <p>The war is coming to an end.<br />
                Left are legends 3, let's see how your style is when set free.<br />
                So now is the time you take down the <span class="round-rhyme">crowd</span>.<br />
                Come with lyrics, original, bold, beautiful and <span class="round-rhyme">loud</span>.<br />
                This will be the last time you stand at the field.<br />
                Give it all you got boy!<br />
                Do not retreat.<br />
            </p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <span class="footer-text">Rap Ruler Council will review<span>
</div>

{% endblock %}