{% extends 'include/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Round Details{% endblock %}

{% block body %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1 class="text-center formhead " style="border-bottom: 1px solid gold;">Round <span style="color: gold;">Details</span></h1></div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6"><h6 class="text-center" style="font-family: pom; color: white; padding-top: 1rem">Read This Before Registering</h6></div>
    <div class="col-3"></div>
</div>
<div class="row" style="color: white; padding-top: 4rem;">
    <div class="col-6 text-center">
        <h1 class="round-rhyme">Round 1</h1>
        <p style="font-family: 'Special Elite', cursive;"><span class="round-rhyme">Well</span> oh <span class="round-rhyme">well</span>, round one <span class="round-rhyme">will tell</span>,<br>
        If you've got the <span class="round-rhyme">skills</span> to unleash <span class="round-rhyme">hell</span>.<br>
        So all you got to do is go back in <span class="round-rhyme">time</span> to spit the <span class="round-rhyme">rhyme</span>,<br>
        be precise in every <span class="round-rhyme">line</span>,<br>
        Be the <span class="round-rhyme">royalty</span> to <span class="round-rhyme">lyrically</span> perform the first rap you learnt back then,<br>
        so you <span class="round-rhyme">might miracoulsy</span> kick start
        the <span class="round-rhyme">night</span>.
    </p>
    </div>
    <div class="col-6 text-center">
        <h1 class="round-rhyme">Round 2</h1>
        <p style="font-family: 'Special Elite', cursive;">First there were <span class="round-rhyme">twelve</span>, now there will be <span class="round-rhyme">six</span>.<br>
            Let's <span class="round-rhyme">unshelf</span> the rhythmic book and stir up the <span class="round-rhyme">mix</span>.<br>
            This is the round which demands for the thug's <span class="round-rhyme">gut</span><br>
            As you have to <span class="round-rhyme">discuss them, disgust them, diss them</span>.<br> 
            Right down to the last left <span class="round-rhyme">fuck</span>.<br>
        </p>
    </div>
</div>

<div class="row" style="color: white; padding-top: 4rem;">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h1 class="round-rhyme">Round 3</h1>
        <p style="font-family: 'Special Elite', cursive;">The war is coming to an <span class="round-rhyme">end</span>.<br>
            Nuff <span class="round-rhyme">pretend</span>.<br>
            Left are legends <span class="round-rhyme">three</span> out of the two plus <span class="round-rhyme">ten</span>, <br>
            let's see <span class="round-rhyme">how</span> your <span class="round-rhyme">style</span> is when set <span class="round-rhyme">free now</span>.<br>
            The <span class="round-rhyme">final showdown</span>, <br>
            For this <span class="round-rhyme">round</span> you <span class="round-rhyme">asstound</span> the <span class="round-rhyme">crowd</span>.<br>
            Come with lyrics, original, <span class="round-rhyme">bold</span>, inspiring and <span class="round-rhyme">loud</span>.<br>
            Bring out the fire till the third <span class="round-rhyme">degree</span> <br>
            To begin the lineage of pure <span class="round-rhyme">rap pedigree</span> <br>
            You shall be crowned the <span class="round-rhyme">RAP RULER OF ODISHA</span>. <br>
            After <span class="round-rhyme">VICTORY</span> 
        </p>
    </div>
    <div class="col-3"></div>
</div>
<div class="row justify-content-center">
    <span class="footer-text"><a href="{% url 'rapper' %}"><button type="submit" class="btn btn-dark"
                style=" border: 2px solid gold; font-size: 2rem; color: honeydew; margin-top: 2rem; margin-bottom: 4rem; font-family: rap; padding-left: 3rem; padding-right: 3rem;">Proceed</button></a><span>
</div>

{% endblock %}
