{% extends 'include/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Thanks for Registering{% endblock %}

{% block body %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 class="text-center formhead" style="border-bottom: 1px solid gold;">Registration<span style="color: gold;">
                Completed</span></h1>
    </div>
</div>
<section class="middle-section">
    <div class="row justify-content-center">
        <span class="footer-text">The Rap Ruler <span style="color: gold;">Council</span> will now review your registration!</span>
    </div>
</section>

<section class="text-center" style="background-color: black;margin-top: 3.5rem;">
    <div class="row">
        <div class="col-4"><a href="https://instagram.com/thewriteorder" target="blank"><button type="button"
                    class="btn btn-ins"
                    style="color: blanchedalmond; background-color: rgb(255, 166, 0); font-family: pom; margin-top: 1rem;"><i
                        class="fab fa-instagram pr-1"></i> Instagram: TheWriteOrder</button></a></div>
        <div class="col-4 text-center"><img class="footlogo text-center" src="{% static 'img/thewriteorderlogo.png' %}"
                alt="twr-logo" /></div>
        <div class="col-4"><a href="https://instagram.com/yayatiparekh" target="blank"><button type="button"
                    class="btn btn-ins"
                    style="color: blanchedalmond; background-color: rgb(255, 166, 0); font-family: pom; margin-top: 1rem;"><i
                        class="fab fa-instagram pr-1"></i> Instagram: YAYATIPAREKH</button></a></div>
    </div>
</section>




{% endblock %}